<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div style="margin-top: 10px;  margin-bottom: 1rem; ">
            <% if(locals.error){ %>
                <div style="color: red; display: flex; justify-content: center">
                    <h3>Incorrect Password</h3>
                </div>

                <% } %>
                    <form method="post"
                        style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" required />
                        <button type="submit" style="grid-column: span 2;"><%= button %></button>
                    </form>
        </div>
</body>

</html>